* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    max-width: 1200px;
    margin: 100px auto;
}

#img-container {
    position: relative;
}

.image-contained {
    width: 100%;
    object-fit: contain;
}

#up-arrow, #down-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
}

#up-arrow {
    top: 0;
    left: 50%;
}

#down-arrow {
    transform: translate(-50%, -10%);
    bottom: 0;
    left: 50%;
}

#thumbnails-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}